@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    margin: 0;
}
:root{
    --prime-color:#55c175;
    --prime-dark-color:#42B463;
    --second-color:#FFE600;
    --third-color:#4bc7eb;
    --black-color:#000;
    --white-color:#fff;
    --body-color:#191919;
}
body{
    background-color: var(--body-color);
    color: var(--white-color);
    overflow-x: hidden;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 8%;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 10; /* El nav está por encima de la animación */
    background-color: #1d1c1ce1;
    backdrop-filter: blur(10px); /* Desenfoque */
    
}

.bars{
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--prime-color);
    color: var(--white-color);
    font-size: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
    
}
.bars:hover{
    transform: scale(1.1);
}
.logo{
    cursor: pointer;
}
.logo a{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white-color);
}
/*Menu */



.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    height: 100vh;
    list-style: none;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
  
    a {
      font-size: 22px;
      color: #777;
      text-decoration: none;
      transition: all 0.45s;
    }
  
    &:hover {
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
      animation: line 1s;
    }
  
    &:hover a {
      color: #d94f5c;
    }
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @keyframes line {
    0% {
      background-position-x: 390px;
    }
  }




button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--prime-color);
    color: var(--white-color);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border:none;
    transition: .3s;
    cursor: pointer;
}

button i{
    transition: .3s;
}
button:hover{
    transform: scale(1.1);
}
button:hover i{
    transform: rotate(180deg);
}


/* Hero SECTION*/ 
.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.6% 8%;
    position: relative;
    overflow: hidden;
}
.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
}
.content h2{
    font-size: 4rem;
    color : var(--second-color);
    font-weight: 600;
    line-height: 4.3rem;
}
.content h1{
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.5rem;
}
.content h3{
    font-size: 2.5rem;
    color : var(--prime-color);
    font-weight: 600;
    line-height: 3.3rem;
}
.content p{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    margin: 20px 0;
}
.content button{
    margin: 10px 0;
}



/* PRofile IMG---------------------------------------------------------------- */
/* Contenedor de la imagen */
.iamge {
    width: 30%;
    height: 500px;
    position: relative;
    overflow: visible;
    margin: 100px auto;
    border-radius: 50%;
    animation: entrance 1s ease-out forwards;
}

/* Imagen principal circular */
#img-ff {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    animation: glowEffect 3s ease-in-out infinite;
}

.element{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px !important;
    padding: 10px;
    
}
/* Estilo para las imágenes flotantes */
.iamge .element img {
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    animation: bounce 2s ease-in-out infinite;
}

/* Posicionamiento de las imágenes flotantes */
.iamge .element.elem1 {
    top: 10%;
    left: -0%;
    background-color: black;
    transform: translateX(-50%);
    animation: rotateAround 5s linear infinite, neonEffect 1s ease-in-out infinite, bounce 2s ease-in-out infinite;
}

.iamge .element.elem2 {
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    animation: rotateAround 6s linear infinite, neonEffect 1s ease-in-out infinite, bounce 2s ease-in-out infinite;
}

.iamge .element.elem3 {
    top: 80%;
    left: 70%;
    background-color: rgba(0, 0, 0, 0.767);
    transform: translateX(-50%);
    animation: rotateAround 7s linear infinite, neonEffect 1s ease-in-out infinite, bounce 2s ease-in-out infinite;
}

.iamge .element.elem4 {
    top: 40%;
    left: -10%;
    background-color: rgba(255, 255, 255, 0.842);
    transform: translateY(-50%);
    animation: rotateAround 8s linear infinite, neonEffect 1s ease-in-out infinite, bounce 2s ease-in-out infinite;
}

.iamge .element.elem5 {
    top: 10%;
    left: 80%;
    background-color: rgba(255, 255, 255, 0.822);
    transform: translateY(-50%);
    animation: rotateAround 9s linear infinite, neonEffect 1s ease-in-out infinite, bounce 2s ease-in-out infinite;
}

/* Animación de movimiento circular */
@keyframes rotateAround {
    0% {
        transform: rotate(0deg) translateX(120px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(120px) rotate(-360deg);
    }
}

/* Animación de rebote para las imágenes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Efecto neon */
@keyframes neonEffect {
    0%, 100% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.589);
    }
    50% {
        box-shadow: 0 0 7px rgba(0, 255, 255, 1);
    }
}

/* Animación de entrada */
@keyframes entrance {
    0% {
        transform: scale(0) rotate(-180deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

/* Efecto de resplandor tipo lava */
@keyframes glowEffect {
    0% {
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.8);
    }
    75% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    }
}

/* Efecto de hover */
.iamge .element img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.8);
}

.iamge .element img {
    position: absolute;
    width: 70px; /* O cualquier otro valor específico */
    height: 70px;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Efecto Neon */
    transition: transform 0.1s ease, box-shadow 0.3s ease; /* Suaviza el efecto de hover */
    animation: bounce 2s ease-in-out infinite; /* Animación de rebote */
}


#img-ff:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.8);
}

#img-ff {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    pointer-events: none;
}






/*NEON MOVIMIENTO ----------------------------------- */
#fluid {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
  }
  







.det_box{
    position: absolute;
    top: 80%;
    left: 50;
    width: 220px;
    /*    height: 50px;*/
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.795);
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.det_box i{
    font-size: 3rem;
    color: var(--prime-color);
}
.det_box_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.det_box_info h2{
    font-weight: 500;

}

.shape1{
    position: absolute;
    top: -10%;
    left: -882px;
    width: 1200px;
    z-index: -1;
}
.shape2{
    position: absolute;
    top: -28%;
    left: 20%;
    width: 70%;
    z-index: -1;
}
.shape3{
    position: absolute;
    top: -30%;
    left: -20%;
    width: 800px;
    height: 800px;
    z-index: -1;
}
.shape4{
    position: absolute;
    top: 10%;
    right: 25%;
    opacity: 0.7;
    width: 800px;
    height: 800px;
    z-index: -1;
}
.shape5{
    position: absolute;
    top: -30%;
    right: -30%;
    opacity: 0.7;
    width: 800px;
    height: 800px;
    z-index: -1;
}

/*MY ADVANTAGE SECTION*/

.my_advantage{
    width: 100%;
    justify-content: space-between;
    padding: 8%;
    position: relative;
    overflow: hidden;

}
.advantage_exp{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.advantage_exp{
    background: linear-gradient(180deg, #2e2c1f, #1b1b19);
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

.exp_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 25%;

}
.exp_box h1{
    font-size: 8rem;
    font-weight: 500;
    color: var(--second-color);
}
.exp_box p{
    font-size: 1.1rem;
    font-weight: 400;
}
.exp_small_box{
    width: 350px;
    padding: 7%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 2;
    top:35%;
    left: 20%;
}
.exp_small_box::after{
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #939393, rgba(28, 26  , 26,.3));
    width: 100%;
    height: 100%;
    z-index: -2;

}
.exp_small_box::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: #2d2b1f;
    z-index: -1;
}
.exp_small_box h2{
    font-size: 2rem;
    font-weight: 600;
    color:var(--prime-color);
}
.exp_small_box p{
    font-weight: 500;
}
.advantage_content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.advantage_content h1{
    font-size: 4rem;
    font-weight: 500;
}
.advantage_content p{
    font-size: 1.1rem;
    font-weight: 300;
    width: 80%;
}

.adventage_cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.adventage_card{
    width: 300px;
    /*height: 300px;*/
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 10px;
    z-index: 2;
}
.adventage_card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 230, 0, .6), rgba(31, 30, 28, .6) 67.59%);
    z-index: -2;

}
.adventage_card::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 95%;
    border-radius: 10px;
    background: #1f1e1d;
    z-index: -1;

}
.adventage_card h2{
    font-size: 3rem;
    font-weight: 500;
    transition: .3s;
}
.adventage_card p{
    font-size: 1rem;
    font-weight: 400;
}

.adventage_card:nth-child(1) p{
    color: var(--second-color);
}
.adventage_card:nth-child(2) p{
    color: var(--prime-color);
}
.adventage_card:nth-child(3) p{
    color: #D73A26;
}
.adventage_card:nth-child(4) p{
    color: #F1651A;
}
.adventage_card:nth-child(5) p{
    color: var(--third-color);
}
.adventage_card:nth-child(6) p{
    color: #AD08CC;
}
.adventage_card:nth-child(2):after{
    background: linear-gradient(180deg, rgba(89,195,120, .6), rgba(31,30,28,.6) 67.59% ) !important;
}
.adventage_card:nth-child(3):after{
    background: linear-gradient(180deg, rgba(221,88,79, .6), rgba(31,30,28,.6) 67.59% ) !important;
}
.adventage_card:nth-child(4):after{
    background: linear-gradient(180deg, rgba(255,154,0, .6), rgba(31,30,28,.6) 67.59% ) !important;
}
.adventage_card:nth-child(5):after{
    background: linear-gradient(180deg, rgba(0,169,255, .6), rgba(31,30,28,.6) 67.59% ) !important;
}
.adventage_card:nth-child(6):after{
    background: linear-gradient(180deg, rgba(158,0,255, .6), rgba(31,30,28,.6) 67.59% ) !important;
}

.adventage_card:nth-child(1):hover h2{
    color: var(--second-color);
}
.adventage_card:nth-child(2):hover h2{
    color:  var(--prime-color);
}
.adventage_card:nth-child(3):hover h2{
    color: #D73A26;
}
.adventage_card:nth-child(4):hover h2{
    color: var(--second-color);
}
.adventage_card:nth-child(5):hover h2{
    color: #F1651A;
}
.adventage_card:nth-child(6):hover h2{
    color:  #AD08CC;
}

.adv_shape{
    position: absolute;
    z-index: -1;
}
.adv_shape1{
    top: 9%;
    left: -10%;
    width: 40%;
}
.adv_shape2{
    top: -28%;
    right: 0%;
    width: 40%;
}
.adv_shape3{
    bottom: -20%;
    left: 0%;
    width: 42%;
    opacity: 0.6;
}
.adv_shape4{
    top: -20%;
    right: -10%;
    width: 40%;
    opacity: 0.7;
}


/* SERVICES SECTION*/

.services{
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-color: #222121;
}
.service_shape{
    position: absolute;
    top: 15%;
    right: -10%;
    width: 40%;
    opacity: 0.7;
   
}
.service_shape2{
    position: absolute;
    top: 10%;
    left: -10%;
    width: 40%;
    opacity: 0.7;
    
}
.headings{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.headings h1{
    font-size: 5rem;
    font-weight: 500;
}
.headings p{
    font-size: 1rem;
    font-weight: 300;
    width: 80%;
}
.service_btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.bnt2{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    background-color: #373737;
    color: var(--white-color);

}
.bnt2:active, 
.bnt2:focus{
    background-color: transparent;
    color: var(--second-color);
    border: 1px solid var(--white-color);
}
.bnt2:hover{
    transform: scale(1.0);
}
.services_cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    place-items: center;
    gap:20px;
    margin-top: 50px;
}
.service_card{
    background-color: #232221;
    width: 400px !important;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid rgba(131,131,131,0.5);
}
.service_card .service_icon{
    font-size: 3.5rem;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #373737;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.service_card:hover .service_icon{
    background-color: var(--prime-color);
    color: var(--white-color);
}
.service_card h2{
    font-size: 2rem;
    font-weight: 300;
}
.service_card p{
    font-size: 1rem;
    font-weight: 300;
}
.service_card{
    display: flex;
    align-items: center;
    gap:10px
}
.service_card a{
    color: var(--white-color);
    font-size: 1.1rem;
    margin-top: 10px;
    transition: .3s;

}
.service_card a i{
    font-size: 1.2rem;
}
.service_card a:hover{
    color: var(--second-color);
    letter-spacing: 2px;
}

.service_2,
.service_3 {
    display: none;
}

/* WORK EXPERIENCE*/

.work_experience{
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.work_box_container{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.work_box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-content:center;
    place-items: center;
    gap: 20px;
    background-color: #282828;
    padding: 1.2% 0%;
    border:1px solid transparent;
}
.work_box h2{
    font-size: 2rem;
    font-weight: 500;
}
.work_box_img{
    width: 80px;
    height: 80px;
}
.work_det{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.work_det h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.work_box p{
    font-size: 0.8rem;
    font-weight: 300;
    color: #D73A26;
}
.work_det p span{
    color: #999;
}

.work_box a{
    color: var(--white-color);
    font-size: 1.1rem;
    margin-top: 10px;
    transition: .3s;

}
.work_box a i{
    font-size: 1.2rem;
}
.work_box a:hover{
    color: var(--second-color);
    letter-spacing: 2px;
}
.work_box:hover{
    border: 1px solid rgba(131,131,131,0.5);
}
.work_shape{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    opacity: 0.6;
    z-index: -1;
}

/* RECENT WORK SECTION*/

.recent_work{
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 5% 12%;
    
}
.heading2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
}
.head_content h1{
    font-size: 5rem;
    font-weight: 500;
}
.head_content p{
    width: 80%;
    font-size: 1rem;
    font-weight: 300;
}
.heading2 i{
    font-size: 3.5rem;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: #373737;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    position: relative;
}
.heading2 i:hover{
    background-color: var(--second-color);
    color: var(--white-color);
    cursor: pointer;
}
.heading2 i:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    border: 2px dashed rgba(131,131,131, 0.5);
    border-radius: 100%;
}
.RecentWorkSwiper{
    width: 100%;
    margin-top: 50px;
}
.slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



/* Estilo del contenedor para permitir posicionamiento relativo */
.recent_work {
    position: relative; /* Necesario para que los botones sean relativos a esta sección */
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 5% 12%;
  }
  



.slide_img{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
}
.slide:hover .slide_img{
    transform: scale(1.07);
}
.slide_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin-top: 20px;
}
.slide_content h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.slide_content h2:hover{
    color: var(--prime-color);
    cursor: pointer;
}
.slide_content p{
    font-size: 1rem;
    font-weight: 300;
    color: #999;
}
.recent_work_shape{
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

.swiper-button-next:after , .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after , .swiper-rtl .swiper-button-prev:after{
    display: none;
}
.swiper_btn{
    position: absolute !important;
    top: 96% !important;
    left: 45% !important;
}
.swiper_btn_right{
    left: 50% !important;
}
.swiper_btn i{
    width: 100px;
    font-size: 2rem;
    color: var(--prime-color);
    height: 50px;
    padding: 10%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--prime-color);
    transition: .2s;
}
.swiper_btn i:hover{
    background-color: var(--prime-color);
    color: var(--white-color);
}

/* TESTIMONIAL */

.testimonial{
    gap: 0;
    position: relative;
    background-color: #2c2c2cc7;
    overflow: hidden;
    padding: 10% 8%;
    z-index: 1;
}
.testimonial:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 93% 0, 44% 100%, 0% 100%);
    width: 45%;
    height: 100%;
    background-color: #212121;
}
.testimonial-shape2{
    position:absolute;
    bottom: 0%;
    right: -15%;
    width: 30%;
    z-index: -1;
}
.client_images{
    width:50%;
    position: relative;
    z-index: 1;
}
#main_image{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonial_shape{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    opacity: 0.5;
}
.border_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border: 1px solid rgba(255,230,0,0.261);
    opacity: 0.5;
    z-index: -1;
}
.border_2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 430px;
    border-radius: 100%;
    border: 1px solid rgba(255,230,0,0.205);
    opacity: 0.5;
    z-index: -1;
}
.border_3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 1px solid rgba(255,230,0,0.144);
    opacity: 0.5;
    z-index: -1;
}
.testimonial_img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -10%;
    left: 26%;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}
.testimonial_img:hover{
    transform: scale(1.2);
}
.test_img2{
    left: 45%;
    top: 170px;
}
.test_img3{
    left: 66%;
    
}
.test_img4{
    left: 60%;
    top: -200px;
}
.test_img5{
    left: 35%;
    top: -225px;
}
.testimonialSwiper{
    width: 50%;
}
.testimonial_slide{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:20px
}
.testimonial_slide h2{
    font-size: 3rem;
    font-weight: 400;
    
}
.testimonial_slide p{
    font-size: 1.3rem;
    font-weight: 400;
    color: #999;
}

.testimonial_text h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.testimonial_text h3 span{
    font-weight: 300;
    font-size: 1.1rem;
    color: #999;
    margin-left: 10px;
}
.swiper_btn2{
    position: absolute;
    top: 75% !important;
    left: 80% !important;
}
.swiper_btn_right2{
    left: 83% !important;
}
.swiper_btn2 i{
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid rgba(131,131,131,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.swiper_btn2 i:hover{
    background-color: var(--prime-color);
    cursor: pointer;
}

/* CONTACT SECTION */
.contacts{
    flex-direction: column;
    z-index: 10;
}

.contact_container{
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contact_head_text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_head_text h2{
    font-size: 2rem;
    font-weight: 400;
}
.contact_imputs{
    width: 50%;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid rgba(131,131,131, 0.5);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #222121ec;
    z-index: 10;
}
.inputs_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contact_imputs input{
    width: 100%;
    height: 50px;
    padding-left: 2%;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(131,131,131, 0.5);
    transition: .2s;
    color: var(--white-color);
    &::placeholder{
        color: var(--white-color);
        font-weight: 200;
    }
}

.contact_imputs input:active,
.contact_imputs input:focus{
    border-color: var(--second-color);
}

.contact_imputs textarea{
    width: 100%;
    height: 120px;
    padding-left: 2%;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(131,131,131, 0.5);
    transition: .2s;
    color: var(--white-color);
    &::placeholder{
        color: var(--white-color);
        font-weight: 200;
    }
    z-index: 10;
}

.contact_imputs textarea:active,
.contact_imputs textarea:focus{
    border-color: var(--second-color);
}
.submit_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.submit_btn button{
    width: 200px;
}

.contact_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.contact_det_box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px ;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid rgba(131,131,131, 0.5);
    background-color: #222121e8;
    z-index: 10;
}
.contact_det_box h2{
    font-size: 1.5rem;
    font-weight: 400;
    transition: .2s;
}
.contact_det_box h2:hover{
    color: var(--prime-color);
    cursor: pointer;
}
.contact_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contact_info i{
    font-size: 2.5rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    background-color:#2e2e2e;
    position: relative;
    transition: .3s;

}
.contact_info i:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    border-radius: 100%;
    border: 1px dashed rgba(131,131,131, 0.5);
    transition: .2s;
}
.contact_det_box:hover .contact_info i{
    background-color: var(--prime-color);
    color: var(--white-color);
}
.contact_det_box:hover .contact_info i:after{
    border-color: var(--prime-color);
}
.contact_info p{
    color: #999;
    font-size: 1rem;
    font-weight: 300;
}


/*FOOTER SECTION*/
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-content: center;
    place-items: center;
    position: relative;
    z-index: 10;
    background-color: #0e0e0eec;
    
}
.footer_bg_shape{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle, rgba(89,254,138,0.175) 0% , rgba(148,187,233,0) 100%);
    z-index: 10;
}
.footer_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:20px;
    z-index: 10;
}
.footer_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;

}
.footer_box{
    font-size: 1rem;
    font-weight: 300;
    color:#999;
}
.social_icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social_icon i{
    font-size: 1.2rem;
    transition: .2s;
}
.social_icon i:hover{
    color: var(--second-color);
    cursor: pointer;
    transform: scale(1.2);
}

.footer_box h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.footer_links a{
    color: var(--white-color);
    font-weight: 300;
    transition: .2s;
}
.footer_links a:hover{
    color: var(--prime-color);
}
.getEmail{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-color: #232925;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.getEmail input{
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 1.2rem;
    color: var(--white-color);
}
.getEmail i{
    position: absolute;
    top:15%;
    right: 5%;
    font-size: 2rem;
}

/* COPYRIGHT SECTION*/
.copyright{
    padding: 1% 8%;
}
.copyright p{
    text-align: center;
    font-weight: 300;
}
.copyright p span{
    color: var(--prime-color);
    font-weight: 500;
    font-size: 1.2rem;
}


@media (max-width:1600px){
    .test_img1{
        left: 13%;
    }
    .test_img3{
        left: 75%;
    }
    .test_img4{
        top: -230%;
    }
    .test_img5{
        top: -240%;
        left: 29%;
    }
    .contact_det_box{
        width: 90%;   
    }
}

@media (max-width:1200px){
    .content h1{
        font-size: 5rem;
    }
    .exp_small_box{
        top: 51%;
        left: -18%;
        flex-direction: column;
    }
    .my_advantage{
        gap: 50px;
    }
    .service_shape{
        width: 93%;
        opacity: 0.5;
    }
    .service_shape2{
        width: 62%;
        opacity: 0.5;
    }
    .test_img1{
        left: 0;

    }
    .test_img3{
        left: 83%;
    }
    .test_img5{
        left: 25%;
    }
    .recent_work{
        padding: 7% 12%;
    }
    .testimonialSwiper{
        transform: translateX(20px);
    }
    .swiper_btn_right2{
        left: 85% !important;
    }
    .swiper_btn2{
        top: 85% !important;
    }
    .contact_det_box{
        width: 100%;
    }
    .footer{
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}

@media (max-width:1100px){
    .hero{
        flex-direction: column-reverse;
    }
    .shape1{
        width: 50%;
    }
    .content{
        width: 100%;
    }
    .iamge{
        width: 70%;
    }
    section{
        flex-direction: column;
    }
    .shape4{
        top: 33%;
        left: 30%;
    }
    .advantage_content{
        width: 100%;
        margin-top: 50px;
    }
    .advantage_exp{
        width: 60%;
    }
    .exp_box{
        left: 30%;
    }
    .adv_shape{
        width: 85%;
        opacity: 0.5;
    }
    .adv_shape4{
        width: 100%;
        opacity: 0.5;
    }
    .services{
        z-index: 1;
    }
    .service_shape,
    .service_shape2{
        z-index: -1;
    }
    .testimonialSwiper{
        width: 100%;
    }
    .client_images{
        display: none;
    }
    .contact_container{
        width: 100%;
    }
    .footer{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    .footer_box{
        width: 100%;
    }
}

@media(max-width:900px){
    
    .iamge{
        margin-top: 100px;
        width: 400;
    }
    .bars{
        display: flex;
    }
    nav {
        z-index: 1000; /* Mantén el nav siempre al frente */
        position: relative; /* Necesario para evitar conflictos de posicionamiento */
    }
    .shape1, .shape2, .shape3, .shape4, .shape5 {
        z-index: -1; /* Envía las formas detrás del contenido */
    }
    .menu{
        z-index: 999; /* Asegúrate de que esté al frente del contenido */
        position: absolute;
        top: 90px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none; /* Por defecto, no permite clics */
        transition: opacity 0.3s, left 0.3s;

    }
    .menu li{
        padding: 15px 0;
    }
    .menu li a{
        font-size: 1.6rem;
    }
    .menu.show_menu {
        opacity: 1;
        pointer-events: auto; /* Activa los clics cuando está visible */
    }
    
    .adv_shape3{
        width: 100%;
    }
    
    .work_box h2{
        font-size: 1.4rem;

    }
    .adventage_card{
        width: 45%;
    }
    .service_shape{
        width: 100%;
        top: 30%;
    }
    .swiper_btn_right2{
        left: 86% !important;

    }
}

@media(max-width:500px){
    .element{
        width: 70px;
        height: 70px;
    }
    .det_box{
        display: none;
    }
    .elem3{
        right: 37%;
    }
    .content{
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .content h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    .content h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .content h3{
        font-size: 1.5rem;
    }
    .content p{
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
    }
    .heading2 i{
        font-size: 2.5rem;
        width: 104px;
        height: 70px;
    }
    .advantage_exp{
        width: 100%;
    }
    .advantage_content{
        margin-top: 60px;
    }
    .advantage_content h1{
        font-size: 3rem;
    }
    .advantage_content p{
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
    }
    .headings{
        width: 100%;
    }
    .headings h1{
        font-size: 2rem;
    }
    .service_btns{
        flex-direction: column;
    }
    .head_content h1{
        font-size: 2rem;
    }
    .head_content p{
        width: 85%;
        font-weight: 300;
    }
    .bnt2{
        width: 250px;
    }
    .service_container{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .service_shape{
        width: 100%;
        top: 50%;
    }
    .service_shape2{
        width: 100%;
    }
    .work_box_container{
        width: 100%;

    }
    .work_box{
        grid-template-columns: repeat(1,1fr);
        place-content: center;
        place-items: center;
        border-radius: 10px;
    }
    .work_det{
        align-items: center;
        text-align: center;

    }
    .swiper_btn_right{
        left: 55%;
    }
    .swiper_btn2{
        top: 90% !important;
        left: 75% !important;
    }
    .swiper-button-next2{
        left: 86% !important;
    }
    .testimonial_slide p{
        font-size: 1rem;
        font-weight: 400;
    }
    .contact_container{
        flex-direction: column;
    }
    .contact_imputs,
    .contact_content{
        width: 100%;
    }
    .footer_bg_shape{
        left: 50%;
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
    .copyright{
        padding: 5% 8%;
    }
    
    .iamge{
        width: 50%;
    }
    #img-ff{
        width: 100%
    }
}
#img-ff{
    width: 100%;
}